.scroll-top-btn {
  position: fixed;
  bottom: 78px;
  left: 50px;
  z-index: 100000 !important;
  border: #00b0e1 3px groove;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 700;
  width: 54px;
  height: 54px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out, scale 0.4s ease-in-out;
  transform: scale(1);
}


.scroll-top-btn:hover {
  border-radius: 50%;
  transition: all 1.8s ease-in-out, scale 0.4s ease-in-out;
  transform: scale(1.08);
  box-shadow: 4px -3px 30px 4px rgba(165, 214, 255, 0.5);
  transition: all 0.4s ease-in-out;
}

.scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
}

.scroll-top-btn.hide {
  opacity: 0;
  visibility: hidden;
}


@media (width <=1280px) {}