$colorTextWhite: #fff;
$colorTextGray: #959695;
$colorTextMenuCategory: #ce8a64;

$colorButtonBlue: #20c7ff;
$colorButtonHoverBlue: #00b0e1;


$colorBackgroundMain: #fff;
$colorBackgroundGray: #232323;
$colorBackgroundSoftGray: #393939;

$colorBackgroundEditorHeaderGray: #5a5a5a;
$colorBackgroundNavigationPath: #5a5a5a;
$colorInputGray: #d9d9d9;

$colorClientBackground: #D2DCB5;
$colorClientGreen: #92A948;

$colorClientTextDarkGreen: #4E4A1D;
$colorClientTextGreen: #7d8716;

$colorBackgroundInputSearch: #a9a9a9;

$colorDishLineGray: #5a5a5a;