extends screen.pug

block title
  title Dining menu screen 1

block content
  main.menu-view
    #screen-wrapper.content-wrapper
      .section-container
        .header-menu-view MENU
        #menuName
      .section-container

      .section-container

      .section-container

      .section-container

      #img-container.section-container
        img.menu-img(src=require('../../media/ingredients.jpg'), alt="Cool pix")
    .ny-blobs
