.icon-wrap {
  padding: 26px;
  background-color: #000000;
  width: 140px;
  height: 140px;
  box-sizing: border-box;
}

.icon-wrap-success {
  border-radius: 50%;
  border: 4px solid #a5dc86;
  box-sizing: content-box;
  height: 80px;
  padding: 0;
  position: relative;
  background-color: #fff;
  width: 80px;
}

.icon-wrap-success:before {
  border-radius: 40px 0 0 40px;
  width: 26px;
  height: 80px;
  top: -17px;
  left: 5px;
  transform-origin: 60px 60px;
  transform: rotate(-45deg);
}

.icon-wrap-success-placeholder {
  border-radius: 50%;
  border: 4px solid rgba(165, 220, 134, 0.25);
  box-sizing: content-box;
  height: 80px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 80px;
  z-index: 2;
}

.icon-wrap-success-fix {
  height: 90px;
  left: 28px;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 5px;
  z-index: 1;
}

.icon-wrap-success-tip,
.icon-wrap-success-long {
  background-color: #a5dc86;
  border-radius: 2px;
  height: 5px;
  position: absolute;
  z-index: 2;
}

.icon-wrap-success-tip {
  left: 14px;
  top: 46px;
  transform: rotate(45deg);
  width: 25px;
  animation: animateSuccessTip 0.75s;
}

.icon-wrap-success-long {
  right: 8px;
  top: 38px;
  transform: rotate(-45deg);
  width: 47px;
  animation: animateSuccessLong 0.75s;
}

@keyframes animateSuccessTip {

  0%,
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {

  0%,
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes rotatePlaceholder {

  0%,
  5% {
    transform: rotate(-45deg);
  }

  100%,
  12% {
    transform: rotate(-405deg);
  }
}

/* Warning */
.icon-wrap-warning {
  border-radius: 50%;
  border: 4px solid #f8bb86;
  box-sizing: content-box;
  height: 80px;
  padding: 0;
  position: relative;
  background-color: #fff;
  width: 80px;
  animation: scaleWarning 0.75s infinite alternate;
}

.icon-wrap-warning:after,
.icon-wrap-warning:before {
  background: #fff;
  content: "";
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.icon-wrap-warning:before {
  display: inline-block;
  opacity: 0;
  animation: pulseWarning 2s linear infinite;
}

.icon-wrap-warning:after {
  display: block;
  z-index: 1;
}

.icon-wrap-warning-body {
  background-color: #f8bb86;
  border-radius: 2px;
  height: 47px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: 10px;
  width: 5px;
  z-index: 2;
  animation: pulseWarningIns 0.75s infinite alternate;
}

.icon-wrap-warning-dot {
  background-color: #f8bb86;
  border-radius: 50%;
  bottom: 10px;
  height: 7px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  width: 7px;
  z-index: 2;
  animation: pulseWarningIns 0.75s infinite alternate;
}

@keyframes scaleWarning {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulseWarning {
  0% {
    background-color: #fff;
    transform: scale(1);
    opacity: 0.5;
  }

  30% {
    background-color: #fff;
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    background-color: #f8bb86;
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulseWarningIns {
  0% {
    background-color: #f8d486;
  }

  100% {
    background-color: #f8bb86;
  }
}

/* Error */
.icon-wrap-error {
  border-radius: 50%;
  border: 4px solid #f27474;
  box-sizing: content-box;
  height: 80px;
  padding: 0;
  position: relative;
  background-color: #fff;
  width: 80px;
  animation: animateErrorIcon 0.5s;
}

.icon-wrap-error-placeholder {
  border-radius: 50%;
  border: 4px solid rgba(200, 0, 0, 0.2);
  box-sizing: content-box;
  height: 80px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 80px;
  z-index: 2;
}

.icon-wrap-error-left,
.icon-wrap-error-right {
  border-radius: 2px;
  display: block;
  height: 5px;
  position: absolute;
  z-index: 2;
  background-color: #f27474;
  top: 37px;
  width: 47px;
}

.icon-wrap-error-left {
  left: 17px;
  transform: rotate(45deg);
  animation: animateXLeft 0.75s;
}

.icon-wrap-error-right {
  right: 16px;
  transform: rotate(-45deg);
  animation: animateXRight 0.75s;
}

@keyframes rotatePlaceholder {

  0%,
  5% {
    transform: rotate(-45deg);
  }

  100%,
  12% {
    transform: rotate(-405deg);
  }
}

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes animateXLeft {

  0%,
  65% {
    left: 82px;
    top: 95px;
    width: 0;
  }

  84% {
    left: 14px;
    top: 33px;
    width: 47px;
  }

  100% {
    left: 17px;
    top: 37px;
    width: 47px;
  }
}

@keyframes animateXRight {

  0%,
  65% {
    right: 82px;
    top: 95px;
    width: 0;
  }

  84% {
    right: 14px;
    top: 33px;
    width: 47px;
  }

  100% {
    right: 16px;
    top: 37px;
    width: 47px;
  }
}


.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: inherit;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 10000;
  animation: backdropAni 0.8s ease-in-out;
  backdrop-filter: blur(4px);



}

@keyframes backdropAni {
  0% {
    opacity: 0;
    filter: blur(28px);


  }

  100% {
    opacity: 1;
    filter: blur(0);

  }
}





@keyframes backdropAniOff {
  from {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    filter: blur(28px);
    transform: translateY(-200%);
  }
}





.box {
  padding: 20px;
  max-width: 80%;
  min-width: 300px;
  color: #ffffff;
  border: 8px groove #06abec;
  background-color: rgba(0, 0, 0, 0.98);
  border-radius: 18px;
  animation: bounce-in 0.3s;
  box-shadow: 4px -3px 30px 4px rgba(114, 192, 255, 0.64);
  transition: box-shadow 0.4s ease-in-out;
  margin-bottom: 150px;
  box-shadow: -2px 12px 237px 368px rgba(21, 192, 239, 0.48);
}


.modal.cd-out .box {
  animation: backdropAniOff 0.8s ease-in-out;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
}

#cancel,
#ok {
  background-color: #0b9be1;
  height: 30px;
  width: 200px;
  border-radius: 8px;
  border: 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cancel:hover,
#ok:hover {
  transform: scale(1.04);
  transition: all 0.4s ease-in-out;
  box-shadow: 4px -3px 30px 4px rgba(114, 192, 255, 0.64);
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  45% {
    opacity: 1;
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounce-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  45% {
    transform: scale(0.95);
  }

  80% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}


.text {
  text-align: center;
}


@media (width <=1280px) {}