.flyout-trigger
#side-panel.flyout
  span.about
    span.about-text USED HOT KEYS
  ul.ul-right.feature-title 
    li.features.indent <span class="hotkey">F1</span> ■ Menu editor / tempates <span class="hotkey-cat">[global]</span>  
    li.features.indent <span class="hotkey">F2</span> ■ Dish database <span class="hotkey-cat">[global]</span>  
    li.features.indent <span class="hotkey">F3</span> ■ Settings <span class="hotkey-cat">[global]</span>  
    li.features.indent <span class="hotkey">F4</span> ■ Add dish <span class="hotkey-cat">[база блюд]</span>  
    li.features.indent <span class="hotkey">F6</span> ■ Print menu <span class="hotkey-cat"> [menu editor]</span> 
    li.features.indent <span class="hotkey">F7</span> ■ Add dish from the database <span class="hotkey-cat"> [menu editor]</span> 
    li.features.indent <span class="hotkey">F8</span> ■ Broadcast to customer screens <span class="hotkey-cat"> [menu editor]</span> 
    li.features.indent <span class="hotkey">F9</span> ■ Save date into active template <span class="hotkey-cat"> [menu editor] </span> 
    li.features.indent <span class="hotkey">[1], [2], [3] ... [+]</span> ■ Выбор активного шаблона <span class="hotkey-cat"> [menu editor]</span> 
    li.features.indent <span class="hotkey">CTRL + Z</span> ■ Clear active template <span class="hotkey-cat"> [menu editor]</span> 
    li.features.indent <span class="hotkey">CTRL + 0</span> ■ System information <span class="hotkey-cat">[about]</span>    
    li.features.indent <span class="hotkey">F11</span> ■ Help & manuals <span class="hotkey-cat">[about]</span>    
    li.features.indent <span class="hotkey">CTRL + L</span> ■ Dark / light theme toggler <span class="hotkey-cat">[global]</span>               
    li.features.indent <span class="hotkey">&nbsp , &nbsp</span> &nbsp  ■ Customer screen #1 <span class="hotkey-cat">[menu editor]</span>               
    li.features.indent <span class="hotkey">&nbsp . &nbsp</span>  &nbsp ■ Customer screen #2 <span class="hotkey-cat">[menu editor]</span>               
