@use '../../../styles/main/variables' as var;

.navigationPath {
  text-transform: uppercase;
  padding: 15px 30px;
  background: linear-gradient(65deg, rgb(123, 123, 123), rgba(33, 33, 33, 0.8) 80%);
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  animation: menuEmerge 0.8s ease-in;
  border-bottom: 2px #16b2d6 solid;
}

@keyframes menuEmerge {
  0% {
    opacity: 0;
    filter: blur(28px);
    transform: translateX(-150%);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}


.navbar-title-panel {
  top: 45px;
  position: sticky;
  z-index: 100;
  width: 100%;

}


@media (width <=1280px) {}